@mixin containerBorder($value : 500){
    width : $value * 0.92 + px;
    height : $value * 0.92 + px;
    padding : $value * 0.04 + px;
}
//header宽度为100%，margin居中，文字居中
header{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    h1{
        margin-top: 10px;
        font : {
            family : Arial;
            size : 60px;
            weight :  bold;

        }
    }
    #newgamebutton{
        display:block;
        margin: 20px auto;
        
        width:100px;
        padding: 10px 10px;
        background-color:rgb(180, 15, 15);

        font-family: Arial;
        color:white;
        text-decoration: none;
        border-radius:10px;
        &:hover {
            color : black;
        }
    }
    p{
        font-size: 25px;
        margin:20px auto;
    }
}
#grid-container{

    // width:460px;
    // height:460px;
    // /* padding作为左右上下的边距使界面不是500px，而是460px */
    // padding:20px;
    @include containerBorder();
    
    margin:20px auto;

    background-color: #bbada0;

    border-radius: 10px;
    position:relative;
}
.grid-cell{
    width:100px;
    height:100px;
    border-radius: 6px;
    background-color:  #ccc0b3;
    position: absolute;

}
.number-cell{
    font: {
        family : Arial;
        weight : bold;
        size : 50px;
    }
/* 将行高设置成和方块一样高，便于居中； */
line-height:100px;
text-align:center;
border-radius: 6px;

position: absolute;
}
